@charset "utf-8";

html,body,#container {height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	color: #ffffff;
    font-family: "Poppins", "Kosugi", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
	font-size: 16px;
	line-height: 2;
	background: #000000;
	-webkit-text-size-adjust: none;
}

h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form {margin: 0px;padding: 0px;font-size: 100%;font-weight: normal;
}

a {color: #dddddd;transition: 0.4s;}
a:hover {color: #a5880b;text-decoration: none;}

#contents {
	overflow: hidden;margin: 0 auto;
	max-width: 850px;
	padding: 40px 3%;
}

#contents section + section {
	padding-top: 40px;
}

h3 {
	font-size: 22px;
	text-align: center;
	line-height: 1.4;
	margin: 40px;
}

h3 a {
	font-size: 30px;
	color: #dddddd;
}

h5 {
	font-size: 13px;
	text-align: center;
	margin-bottom: 10px;
	line-height: 1.4;
}

.NF404{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	margin-bottom: 20px;
}
